streamlit==1.39.0
pandas==2.1.1
matplotlib==3.8.0
langchain==0.0.350
langchain-openai==0.0.5
langchain-experimental==0.0.47
python-dotenv==1.0.0
openai==1.12.0
tabulate==0.9.0
langchain-community==0.0.20
serpapi==0.1.5
tavily-python==0.3.1